.navigation {
  width: 100vw;
  padding: 10px;
  position: fixed;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.nightNavigation{ 
  width: 100vw;
  padding: 10px;
  position: fixed;
  z-index: 5;
  box-shadow: rgba(200, 200, 200, 0.35) 0px 5px 15px;
  background-color: black;
}
.forLargeDevice{
  display: flex;
  justify-content: space-between;
}
.hamburgerAndLogo{
  display: inline-flex;
  align-items: center;
}
.hamburger{
  display: none;
  flex-direction: column;
  margin:0 10px;
  padding: 5px;
}
.bar1,.bar2,.bar3{
  width: 25px;
  height: 3px;
  background-color: gray;
  margin: 2px 0;
}
.closeBar1{
  width: 25px;
  height: 3px;
  background-color: gray;
  position: sticky;
  top: 30px;
  transform: rotate(45deg);
}
.closeBar3{
  width: 25px;
  height: 3px;
  background-color: gray;
  position: sticky;
  top: 30px;
  transform: rotate(-45deg); 
}
.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: gray;
}
.activeLogo{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: rgb(26, 92, 235);
}
.inputAndNightMode{
  display: flex;
  align-items: center;
}
.input {
  width: 270px;
  height: 40px;
  outline: none;
  background-color: rgba(104, 104, 104, 0.363);
  color: white;
  font-size: 20px;
  font-weight: 300;
  border: 0;
  padding: 10px;
  border-radius: 15px;
}
.nightMode{
  padding: 5px;
  margin:0 10px;
  cursor: pointer;
}
.moon{
  color: black;
}
.sun{
  color: yellow;
}
.dropdownForm{
  display: none;
}
.forSmallDevice{
  display: none;
  margin: 0px 56px;
}
@media (max-width:1100px) {
  .hamburger{
    display:inline-flex ;
  }
  .forSmallDevice{
    display: block;
  }
}
@media (max-width:600px) {
  .inputForm{
    display: none;
  }
  .dropdownForm{
    display: block;
  }
}